<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>云停车平台</title>
<style type="text/css">
.search{display: inline-block;margin-left: 10px;}
.red{color: red}
</style>
</head>

<body>
<div class="setting-frame-content">
	<div class="form-group">
		<div class="layui-form" style="display: inline-block;">
			<div class="layui-form-item" style="display: inline-block;">
				<label class="layui-form-label" id="account">管理员账户</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="loginAccount" name="loginAccount" placeholder="请输入登录账号" autocomplete="off">
				</div>
			</div>
			<div class="layui-form-item" style="display: inline-block;">
				<label class="layui-form-label" id="accountType">管理员类型</label>
				<div class="layui-input-block">
					<select id="searchManagerType" name="searchManagerType" lay-filter="searchManagerType">
						<option value="" id="please">请选择</option>
						<option value="1">系统管理员</option>
						<option value="2">公司管理员</option>
					</select>
				</div>
		    </div>
		<div id="searchAccount" class="layui-btn search">搜索</div>
	    <div id="addAccount" class="layui-btn" style="display: inline-block;">添加管理员</div>
    	</div>
	    <table class="layui-hide" id="accountTable" lay-filter="accountTable"></table>
	</div>
</div>
	    <script>
	        requirejs([contextPath + '/js/account/account.js?v=' + (new Date()).getTime()]);
	    </script>
<div id="showAccountContent" style="display: none;">
    <!-- 内容显示区域start -->
    <div class="layuiWindownContent">
        <div class="layui-form" lay-filter="accountFrom">
            <div class="layui-form-item">
                <label class="layui-form-label" id="accType"><span class="red">* </span>管理员类型</label>
                <div class="layui-input-block">
                    <input type="radio" name="accountRoleType" value="1" lay-filter="accountRoleType" title="系统管理员" checked="checked">
                    <input type="radio" name="accountRoleType" value="2" lay-filter="accountRoleType" title="公司管理员">
                </div>
            </div>
            <div class="layui-form-item" style="display: none;">
                <label class="layui-form-label">管理员id</label>
                <div class="layui-input-block">
                    <input type="text" id="accountId" name="accountId" placeholder="请填写管理员id" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" id="adminAccount">
                <label class="layui-form-label" id="accountNumber"><span class="red">* </span>管理员账号</label>
                <div class="layui-input-block">
                    <input type="text" id="userName" name="userName" placeholder="请填写管理员账号" autocomplete="off"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item none" id="parkingAccount">
                <label class="layui-form-label" id="roleAccount"><span class="red">* </span>帐号</label>
                <div class="layui-input-block">
                    <input type="text" id="userPhone" name="userPhone" placeholder="请填写手机号码" autocomplete="off" required lay-filter="userPhone" oninput="if(value.length>11)value=value.slice(0,11)"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item none" id="name">
                <label class="layui-form-label" id="roleName"><span class="red">* </span>姓名</label>
                <div class="layui-input-block">
                    <input type="text" id="realName" name="realName" placeholder="请填写真实姓名" autocomplete="off" oninput="if(value.length>15)value=value.slice(0,15)"
                        class="layui-input">
                </div>
            </div>
            <div class="layui-form-item" id="showAccountInitPW">
                <label class="layui-form-label" id="InitialPassword">初始密码</label>
                <div class="layui-input-block">
                    <input type="text" id="pwd" name="pwd" placeholder="默认密码123456" autocomplete="off"
                        class="layui-input" disabled>
                </div>
            </div>
            <div class="layui-form-item none" id="showAdminAccountRoleSel">
           		<label class="layui-form-label" id="choseAdminRoleSel"><span class="red">* </span>选择角色</label>
           		<div class="layui-input-block">
           			<select name="adminAccountRoleSel" id="adminAccountRoleSel" lay-filter="adminAccountRoleSel">
           			</select>
           		</div>
            </div>
            <div class="layui-form-item none" id="showCompanyAccountRoleSel">
           		<label class="layui-form-label"><span class="red">* </span>选择角色</label>
           		<div class="layui-input-block">
           			<select name="companyAccountRoleSel" id="companyAccountRoleSel" lay-filter="companyAccountRoleSel">
           			</select>
           		</div>
            </div>
            <div class="layui-form-item none" id="showParkingAccountRoleSel">
           		<label class="layui-form-label" id="choseCompanyRoleSel"><span class="red">* </span>选择角色</label>
           		<div class="layui-input-block">
           			<select name="parkingAccountRoleSel" id="parkingAccountRoleSel" lay-filter="parkingAccountRoleSel">
           			</select>
           		</div>
            </div>
            <div class="layui-form-item none" id="showAccountCompanySel">
            	<label class="layui-form-label" id="roleCompany"><span class="red">* </span>所属公司</label>
            	<div class="layui-input-block">
            		<select name="accountCompanySel" id="accountCompanySel" lay-filter="accountCompanySel">
            		</select>
            	</div>
            </div>
            <div class="layui-form-item none" id="showAccountParkingSel">
            	<label class="layui-form-label"><span class="red">* </span>所属停车场</label>
            	<div class="layui-input-block">
            		<select name="accountParkingSel" id="accountParkingSel" lay-filter="accountParkingSel">
            		</select>
            	</div>
            </div>
        </div>
    </div>
    <!-- 内容显示区域end -->
</div>
<script th:inline="javascript">
	var adminRoleList = [[${#request.getAttribute("adminRoleList")}]] //系统管理员角色列表
	var companyRoleList = [[${#request.getAttribute("companyRoleList")}]] //公司管理员角色列表
	var parkingRoleList = [[${#request.getAttribute("parkingRoleList")}]] //停车场管理员角色列表
	var companyList = [[${#request.getAttribute("companyList")}]] //公司列表
	var i18n = [[${#request.getAttribute("i18n")}]]
</script>
</body>

</html>